.container {
  width: 18rem;
  padding: 1rem 2rem;;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.flex {
  display: flex;
}

.flex-col	{
  flex-direction: column;
}

.gap-y-4 {
  row-gap: 1rem;
}

.hidden {
  display: none;
}

html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: fit-content;
}



#allowedIpList {
  gap: 0.5rem;
}

#allowedIpList {
  margin: 0;
  padding: 0;
}

#newIpForm {
  margin: 0;
}

#errorMessage {
  margin: 0;
}

p{
  margin: 0;
}

#privateIPContainer {
  padding-bottom: 1rem;
  gap: 1rem;
  align-items: center;
}

#enablePrivateIps {
  font-size: 1.25rem;
}

#privateIpCheckbox {
  width: 18px;
  height: 18px;
}



.btn { 
  border: none;
  border-radius: 0.25rem;
  padding: 0.3rem;
  color: white;
  transition: all 0.25s;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}


.deleteBtn {
  background-color: #ff8181;
}
.deleteBtn:hover {
  background-color: #f73030;
}

.editBtn {
  background-color: #399ebf;
}
.editBtn:hover {
  background-color: #3973bf;
}

.saveBtn {
  background-color: #81d381;
}
.saveBtn:hover {
  background-color: #19b119;
}

.submitBtn {
  background-color: #1a48df;
}
.submitBtn:hover {
  background-color: #3973bf;
}

.AllowedIPAndBtns {
  display: flex;
  gap: 0.25rem;
}

li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.25rem;
}

input {
  border-radius: 0.25rem;
  border: 1px solid #b3bbb3;
  padding: 0.25rem;
}

#newIpInput {
  height: 24.59px;

}