.container {
  width: 20rem;
  max-height: 20rem;
  padding: 1rem;
  overflow-y: scroll;

}  

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-col	{
  flex-direction: column;
}

.gap-y-4 {
  row-gap: 1rem;
}

.hidden {
  display: none;
}

html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#allowedIpList {
  gap: 0.5rem;
}

#allowedIpList {
  margin: 0;
  padding: 0;
}

#newIpForm {
  margin: 0;
}

#errorMessage {
  margin: 0;
}